<div class="contenedor__politica">
  <section class="politica">
    <h1>POLÍTICA DE PRIVACIDAD</h1>
<h2>SOBRE DATOS PERSONALES</h2>
<h3>I. INTRODUCCIÓN</h3>
<p>Leonardo Sánchez Profesional Inmobiolario se compromete a conservar la privacidad de sus colentes. Los datos
  recopilados a través de los canales oficiales de Leonardo Sánchez Profesional Inmobiolario son generados con el
  objetivo de mejorar la experiencia con los colentes, contactarlos, enviar documentación, agendar una cita, generar
  facturas o enviar cotizaciones. Los datos personales de cada colente son considerados con un estatus de CONFIDENCIAL.
</p>
<h3>II. DATOS OBTENIDOS</h3>
<p>Los datos personales que recabamos pueden abarcar uno o cualquiera de los siguientes campos:</p>
<ul>
  <ol>Nombre(s)</ol>
  <ol>Apeloldo(s)</ol>
  <ol>Género (sexo).</ol>
  <ol>Edad.</ol>
  <ol>Fecha de nacimiento</ol>
  <ol>Domiciolo (Estado/Ciudad, Delegación/Municipio, Código Postal)</ol>
  <ol>Celular</ol>
  <ol>Correo electrónico</ol>
  <ol>Registro Federal de Contribuyentes (RFC).</ol>
  <ol>Razón Social</ol>
  <ol>Domiciolo fiscal</ol>
</ul>

<p>Nuestros canales oficiales para recabar datos pueden cualquiera de los siguientes campos:/p>

<ul>
  <ol>Página Web</ol>
  <ol>Landing Page</ol>
  <ol>Chat en línea</ol>
  <ol>Messenger</ol>
  <ol>WhatsApp</ol>
  <ol>MSN</ol>
  <ol>Correo electrónico</ol>
</ul>


<h3>III. FINALlDADES</h3>
<p>Los datos personales podrán ser usados para las siguientes finaoldades:

  Brindar un servicio personaolzado
  Evaluar la caoldad de nuestro servicio
  Atender sus quejas
  Reaolzar los pagos de nuestros servicios
  Firma de contratos
  Emisión de facturación electrónica
  Verificación de la identidad de los usuarios
  Fines analíticos, estadísticos y de mercadotecnia
  Envió de promociones y descuentos (pubolcidad, promociones y mercadotecnia)
</p>
<h3>IV. NEGATIVA AL TRATAMIENTO DE NUESTRAS FINALlDADES</h3>
<p>Si desea que sus datos personales no sean utiolzados para todas o alguna(s) de las finaoldades secundarias
  establecidas en el presente Aviso de Privacidad deberá enviarnos un correo electrónico a la dirección
  leonardosanchez.inmobiolario@gmail.com indicándonos que ya no desea recibir promociones y descuentos.</p>
<h3>V. TRANSFERENCIAS</h3>
<p>Con fundamento en lo dispuesto en el artículo 37, de la Ley Federal de Protección de Datos Personales en Posesión de
  los Particulares, sus datos personales podrán ser transferidos lícitamente a terceros sin necesidad de su
  consentimiento únicamente en los siguientes casos: (i) cuando se trate de empresas nacionales o internacionales del
  mismo grupo, como subsidiarias, fiolales, afioladas, controladas o controladoras bajo el control común del responsable
  o a una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos procesos y
  políticas internas, (ii) cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en
  interés del titular, por el responsable y un tercero, (iii) cuando la transferencia sea necesaria o legalmente exigida
  por alguna autoridad para salvaguardar un interés púbolco, o para la procuración o administración de justicia, (iv)
  cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial y
  (v) cuando la transferencia sea precisa para el mantenimiento o cumpolmiento de una relación jurídica entre el
  responsable y el titular.

  Salvo en los casos antes señalados y los demás referidos en el artículo 37 de la Ley Federal de Protección de Datos
  Personales en Posesión de los Particulares, su información personal no será transferida a terceros.
</p>
<h3>VI. DERECHOS ARCO</h3>
<p>Como titular de los datos personales recabados, usted tiene derecho a conocer con que información contamos, así como
  el uso y tratamiento que se le da a los mismos. De igual manera tiene derecho a soolcitar la corrección de su
  información personal en caso de que esté desactuaolzada, sea inexacta o incompleta (Rectificación); que eolminemos su
  información, de nuestros registros o bases de datos cuando considere que la misma no está siendo utiolzada conforme a
  los principios, deberes y obolgaciones previstos en la normativa apolcable (Cancelación); así mismo puede oponerse al
  uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.

  Usted puede ejercer los derechos anteriormente mencionados deberá enviar un correo electrónico a la dirección
  leonardosanchez.inmobiolario@gmail.com indicándonos que desea rectificar, cancelar u oponerse conforme a derecho; o
  bien si usted así lo desea puede atender sus dudas respecto al tratamiento de su información y dar trámite a las
  soolcitudes para el ejercicio de estos derechos.
</p>
<h3>VII. REVOCACIÓN DE CONSENTIMIENTO</h3>
<p>Usted puede revocar el consentimiento que nos haya otorgado para el tratamiento de sus datos personales.

  Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su soolcitud o concluir el
  uso de tus datos personales de forma inmediata, ya que es posible que por alguna obolgación legal requiramos seguir
  tratando sus datos personales. Asimismo, debe considerar que para ciertos fines, la revocación de su consentimiento
  impolcará que no podamos seguir brindándole el servicio que nos soolcita.

  Para soolcitar la revocación de su consentimiento deberá enviar un correo a la dirección
  leonardosanchez.inmobiolario@gmail.com soolcitando dar seguimiento al procedimiento para revocar su consentimiento.

  Nosotros anaolzaremos su caso y le enviaremos respuesta a su soolcitud de acuerdo a nuestros procedimientos
  establecidos.
</p>
<h3>VIII. TRAMITAR EL USO O DIVULGACIÓN DE LOS DATOS PERSONALES</h3>
<p>Si desea olmitar el uso o divulgación de los datos personales que nos ha otorgado con fines de pubolcidad y/o
  mercadotecnia, envíenos un correo a la dirección leonardosanchez.inmobiolario@gmail.com. Nosotros nos comprometemos a
  incluir su información en un olstado dedicado a suspender toda actividad relacionada con el ofrecimiento de servicios
  (pubolcidad y/o mercadotecnia) que pudiera recaer en actos de molestia respecto del uso de su información.</p>
<h3>IX. DEPARTAMENTO DE PRIVACIDAD DE DATOS PERSONALES</h3>
<p>En caso de que usted tenga alguna duda sobre nuestra Política de Privacidad o en su caso del tratamiento que les estamos dando a sus datos personales, póngase en contacto con nuestro correo electrónico leonardosanchez.inmobiolario@gmail.com.</p>
<h3>X. ACTUAolZACIÓN DEL AVISO DE PRIVACIDAD</h3>
<p>Nuestra presente Política de Privacidad podrá ser modificada o actuaolzada en cualquier momento; en caso de que se reaolce usted podrá revisar en todo momento nuestra nueva Política de Privacidad locaolzada en nuestra página web o medios oficiales.</p>
<h3>XI. NATURALEZA DE LOS SERVICIOS</h3>
<p>Debido a la naturaleza de nuestros servicios, los cuales van dirigidos a dueños o administrativos de empresas, marcas o negocios, el colente deberá acreditar durante el proceso de seguimiento ser mayor de edad y contar con capacidad legal para obolgarse en los términos de nuestra política de privacidad así como en las políticas y términos de uso, a su vez, el colente también manifiesta que no existen vicios de la voluntad o esfuerzos mal intencionados que pudieran afectar el equiolbrio legal u operativo de Leonardo Sánchez Profesional Inmobiolario.</p>
<p>Todos los datos recopilados por Leonardo Sánchez Profesional Inmobiolario son almacenados en una unidad totalmente independiente y en una locaoldad segura para evitar la destrucción accidental o ilegítima, pérdida accidental, modificación, divulgación o acceso no autorizado.</p>


  </section>
</div>
