.contendor__inicio {
  background: url('../../../assets/images/FONDO_HEADER_ESCRITORIO/iconografia-hacienda-valbuena-escritorio.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .contendor__inicio__titulo {
    color: var(--DORADO_CLARO);
    font-size: 2em;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    font-family: var(--bree);
    letter-spacing: 1px;

    .titulo {

      height: 60px;
      border-right: var(--DORADO_CLARO) 1px solid;

    }

    .titulo1 {

      height: 60px;
      border-right: var(--ops) 1px solid;
      font-size: 0.5em;
      margin-top: -20%;

    }

  }

  .contendor__inicio__subtitulo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--DORADO_CLARO);
    font-family: var(--ops);
    font-size: 1em;
    display: flex;
    margin-top: -10%;
    margin-right: 91%;

    .sub {
      margin-top: -160%;
    }

  }
  .container__textos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 22%;
    margin-left: 20%;
    font-family: var(--ops);
    font-size: 1.2em;
    font-weight: 200;
    color: white;
    width: 50%;
    padding-bottom: 3%;
    .container__textos_parrafo{
      margin-top: 50%;
    }
    .boton__whatsapp{
      display: flex;
      font-family: var(--ops);
      background: none;
      border: none;
      margin-top: 50%;

      padding: 0;
      width: 50%;

      .container__whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ops);
        border-radius: 12px;
        border: var(--DORADO_CLARO) 2px solid;
        width: 50%;
        height: 40px;
        color: white;
        .img__whatsapp{
          width: 8%;
        }

      }


    }
  }

}
.decoracion{
  width: 50%;
  margin-left: 15%;
  margin-top: -3%;
  .decoracion__verde{
    width: 4%;
    margin-top: -2%;
    margin-left: -2%;
    height: 7vh;
    background-color:var(--VERDE_OSCURO);
    position: absolute;
    z-index: 1;
  }
  .decoracion__dorado{
    width: 20%;
    height: 10vh;
    background: linear-gradient(to right, var(--DORADO_OSCURO), var(--DORADO_CLARO), var(--DORADO_CLARO), var(--DORADO_OSCURO));
  }
}
.contaier__tarjetas{
  background: url('../../../assets/images/FONDO_HEADER_ESCRITORIO/fondo-maps-escritorio.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  position: absolute;
  z-index: -1;
  .container__tarjetas__titulo{
    margin-top: 10%;
    color: var(--VERDE_OSCURO);
    font-size: 1.5em;
    line-height: 20px;
    .span__verde{
      font-weight:bold;

    }
  }
  .boton__whatsapp{
    display: flex;
    font-family: var(--ops);
    background: none;
    border: none;
    margin-top: 0%;

    padding: 0;
    width: 50%;

    .container__whatsapp{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--ops);
      border-radius: 12px;
      border: var(--verde) 2px solid;
      background-color: var(--VERDE_OSCURO);
      width: 30%;
      height: 50px;
      color: white;
      margin: auto;
      margin-top: 2%;
      .img__whatsapp{
        width: 8%;
      }

    }


  }


}
.container__viviendas{
  width: 100%;
  margin-top: 20%;
  display: flex;
  .container__slyder{
    width: 60%;
  }
  .container__caracteristicas{
    width: 40%;
    border-radius: 5% 0% 0% 5%;
    background: white;
    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
  }
}



@media screen and (max-width: 991px){
  .contendor__inicio {
    background: url('../../../assets/images/FONDO_HEADER_CELULAR/iconografia-hacienda-valbuena-celular.webp');



    .contendor__inicio__titulo {
      color: var(--DORADO_OSCURO);
      margin-top: -15%;


      .titulo {
        border-right: var(--DORADO_OSCURO) 1px solid;

      }

      .titulo1 {

        height: 60px;
        border-right: var(--ops) 1px solid;
        font-size: 0.5em;
        margin-top: -10%;

      }

    }

    .contendor__inicio__subtitulo {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      color: var(--DORADO_CLARO);
      font-family: var(--ops);
      font-size: 1em;
      display: flex;
      margin-top: -20%;




    }
    .container__textos{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      margin-top: 22%;
      margin-left: 20%;
      font-family: var(--ops);
      font-size: 1.2em;
      font-weight: 200;
      color: white;
      width: 80%;
      padding-bottom: 3%;
      .container__textos_parrafo{
        margin-top: 50%;
      }
      .boton__whatsapp{
        display: flex;
        font-family: var(--ops);
        background: none;
        border: none;
        margin-top: 50%;

        padding: 0;
        width: 50%;

        .container__whatsapp{
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: var(--ops);
          border-radius: 12px;
          border: var(--DORADO_CLARO) 2px solid;
          width: 50%;
          height: 40px;
          color: white;
          .img__whatsapp{
            width: 8%;
          }

        }


      }
    }

  }
  .decoracion{
    display: none;
  }
  .contaier__tarjetas{
    background: url('../../../assets/images/FONDO_HEADER_CELULAR/fondo-maps-celular.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    position: relative;
    z-index: 1;
    .container__tarjetas__titulo{
      margin-top: 10%;
      font-size: 1em;

    }
    .boton__whatsapp{
      display: flex;
      font-family: var(--ops);
      background: none;
      border: none;
      margin-top: 0%;

      padding: 0;
      width: 60%;

      .container__whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ops);
        border-radius: 12px;
        border: var(--verde) 2px solid;
        background-color: var(--VERDE_OSCURO);
        width: 30%;
        height: 50px;
        color: white;
        margin: auto;
        margin-top: 2%;
        .img__whatsapp{
          width: 8%;
        }

      }


    }


  }
}
