<section class="inicio">
  <div class="contendor__inicio">
    <div class="contendor__inicio__titulo">
      <H1><span class='titulo'>HV</span><span class='titulo1'>HACIENDA VALBUENA</span></H1>

    </div>
    <div class="contendor__inicio__subtitulo">
      <H2 class="sub">$i SE PUEDE VIVIR CON LUJO</H2>

    </div>

    <div class='container__textos'>
      <p class="container__textos_parrafo">Agenda una cita para conocer tu nueva casa</p>
      <a href="#" class='boton__whatsapp'>
        <div class='container__whatsapp'>
          <img src="assets/images/ICONOGRAFIA/whatsapp-hacienda-valbuena.svg" class='img__whatsapp' alt=""/>
          <p class='texto__whatsapp'>Enviar WhatsApp</p>
        </div>
      </a>
    </div>
  </div>
  <div class='decoracion'>
    <div class='decoracion__verde'></div>
    <div class='decoracion__dorado'></div>
  </div>
</section>
<section class="subtitulo">
  <div class="contaier__tarjetas">
    <div class="container__tarjetas__titulo">
      <h2> Fraccionamiento <span class='span__verde'>TIPO HACIENDA</span> ubicada en la Florida S.L.P</h2>
    </div>
    <b href="#" class='boton__whatsapp'>
      <div class='container__whatsapp'>
        <img src="assets/images/ICONOGRAFIA/whatsapp-hacienda-valbuena.svg" class='img__whatsapp' alt=""/>
        <p class='texto__whatsapp'>Enviar WhatsApp</p>
      </div>
    </b>
  </div>

</section>
<section class="tipos__casas">
  <div class="container__viviendas">
    <div class="container__slyder">
      <div class="container">
        <div id="slider">
        <input checked type="radio" name="slider" id="slide1" />
        <input type="radio" name="slider" id="slide2" />
        <input type="radio" name="slider" id="slide3" />
        <input type="radio" name="slider" id="slide4" />
        <input type="radio" name="slider" id="slide5" />
        <input type="radio" name="slider" id="slide6" />
        <input type="radio" name="slider" id="slide7" />
        <input type="radio" name="slider" id="slide8" />
        <input type="radio" name="slider" id="slide9" />
        <input type="radio" name="slider" id="slide10"/>
        <div id="slides">
        <div id="overflow">
        <div class="inner">
        <article><div class="info">
        <h5></h5>
        <a href="#"></a></div>
        <img src="assets/images/GRANADA/cocina-hacienda-valbuena-granada.webp" />
        </article>
        <article><div class="info">
        <h5></h5>
        <a href="#"></a></div>
        <img src="assets/images/GRANADA/comedor-hacienda-valbuena-granada.webp" />
        </article>
        <article><div class="info">
        <h5></h5>
        <a href="#"></a></div>
        <img src="assets/images/GRANADA/cuarto-dos-hacienda-valbuena-granada.webp" />
        </article>
        <article><div class="info">
        <h5></h5>
        <a href="#"></a></div>
        <img src="http://www.lorempixel.com/800/600/sports/4" />
        </article>
        <article><div class="info">
        <h5></h5>
        <a href="#"></a></div>
        <img src="http://www.lorempixel.com/800/600/nature/4" />
        </article>
          <article><div class="info">
        <h5></h5>
        <a href="#"></a></div>
        <img src="http://www.lorempixel.com/800/600/sports/5" />
        </article>
          <article><div class="info">
        <h5>Título</h5>
        <a href="#">Autor</a></div>
        <img src="http://www.lorempixel.com/800/600/sports/5" />
        </article>


        </div>
        </div>
        </div>
        <div id="controls">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>
                <label for="slide5"></label>
                <label for="slide6"></label>
                <label for="slide7"></label>



               </div>
               <div id="active">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>
                <label for="slide5"></label>
                <label for="slide6"></label>
                <label for="slide7"></label>



               </div>
        </div>
      </div>
    </div>
    <div class="container__caracteristicas">
      <div class="titulo">
        <h3>Granada</h3>
      </div>
      <div class="especificaciones">
        <div class="terreno">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>m de terreno:</p>
            <p>140 m</p>
          </div>
        </div>
        <div class="construccion">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>m de construccion:</p>
            <p>117 m</p>
          </div>
        </div>
        <div class="dormitorios">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>Dormitorios:</p>
            <p>3</p>
          </div>
        </div>
        <div class="baños">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>Baños:</p>
            <p>3</p>
          </div>
        </div>
        <div class="balcon">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>Balcón:</p>
            <p>1</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>


