.contendor__inicio {
  background: url('../../../assets/images/FONDO_HEADER_ESCRITORIO/iconografia-hacienda-valbuena-escritorio.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .contendor__inicio__titulo {
    color: var(--DORADO_CLARO);
    font-size: 2em;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    font-family: var(--bree);
    letter-spacing: 1px;

    .titulo {

      height: 60px;
      border-right: var(--DORADO_CLARO) 1px solid;

    }

    .titulo1 {

      height: 60px;
      border-right: var(--ops) 1px solid;
      font-size: 0.5em;
      margin-top: -20%;

    }

  }

  .contendor__inicio__subtitulo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--DORADO_CLARO);
    font-family: var(--ops);
    font-size: 1em;
    display: flex;
    margin-top: -10%;
    margin-right: 91%;

    .sub {
      margin-top: -290%;
    }

  }
  .container__textos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 22%;
    margin-left: 20%;
    font-family: var(--ops);
    font-size: 1.2em;
    font-weight: 200;
    color: white;
    width: 50%;
    padding-bottom: 3%;
    .container__textos_parrafo{
      margin-top: 50%;
    }
    .boton__whatsapp{
      display: flex;
      font-family: var(--ops);
      background: none;
      border: none;
      margin-top: 50%;

      padding-top: -3;
      width: 50%;

      .container__whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ops);
        border-radius: 12px;
        border: var(--DORADO_CLARO) 2px solid;
        width: 60%;
        height: 40px;
        color: white;
        .img__whatsapp{
          width: 9%;
        }

      }


    }
  }

}
.decoracion{
  width: 50%;
  margin-left: 15%;
  margin-top: -3%;
  .decoracion__verde{
    width: 4%;
    margin-top: -2%;
    margin-left: -2%;
    height: 7vh;
    background-color:var(--VERDE_OSCURO);
    position: absolute;
    z-index: 1;
  }
  .decoracion__dorado{
    width: 20%;
    height: 10vh;
    background: linear-gradient(to right, var(--DORADO_OSCURO), var(--DORADO_CLARO), var(--DORADO_CLARO), var(--DORADO_OSCURO));
  }
}
.contaier__tarjetas{
  background: url('../../../assets/images/FONDO_HEADER_ESCRITORIO/fondo-maps-escritorio.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  position: absolute;
  z-index: -1;
  .container__tarjetas__titulo{
    margin-top: 10%;
    color: var(--VERDE_OSCURO);
    font-size: 1.5em;
    line-height: 20px;
    .span__verde{
      font-weight:bold;

    }
  }
  .boton__whatsapp{
    display: flex;
    font-family: var(--ops);
    background: none;
    border: none;
    margin-top: 0%;

    padding: 0;
    width: 50%;

    .container__whatsapp{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--ops);
      border-radius: 12px;
      border: var(--verde) 2px solid;
      background-color: var(--VERDE_OSCURO);
      width: 30%;
      height: 50px;
      color: white;
      margin: auto;

      .img__whatsapp{
        width: 8%;
      }

    }


  }


}
.container__viviendas{
  width: 100%;
  margin-top: 15%;
  display: flex;
  padding-left: 3%;
  margin-bottom: -15%;
  .container__slyder{
    width: 70%;
  }
  .container__caracteristicas{
    width: 35%;
    height: 55vh;
    border-radius: 5% 0% 0% 5%;
    background: white;
    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: -3%;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    margin-left: -5%;
    .titulo{

      .titulo1{
        font-size: 4em;
        font-weight: 800;
        letter-spacing: 1px;
        font-family: var(--ops);
        color: var(--VERDE_OSCURO);

      }

    }

    .especificaciones{
      font-size: 1em;
      font-weight: 800;
      letter-spacing: 1px;
      font-family: var(--ops1);

      .especificacion{
        display: flex;
        gap: 8%;
        .imagen{
          width: 10%;
        }
        .especificaciones{
          .tit{

            color: var(--GRIS_CLARO);
            font-family: var(--ops1);
            font-size: 1em;
            font-weight: 800;

          }
          .sub{

          }
        }

      }
    }
    .boton__whatsapp{
      display: flex;
      font-family: var(--ops);
      background: none;
      border: none;
      margin-top: -20%;
      margin-left: 20%;

      padding: 0;
      width: 80%;

      .container__whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ops);
        border-radius: 12px;
        border: var(--verde) 2px solid;
        background-color: var(--VERDE_OSCURO);
        width: 30%;
        height: 40px;
        color: white;
        margin: auto;

        .img__whatsapp{
          width: 10%;
        }

      }


    }

  }
}
.container__viviendas1{
  width: 100%;
  margin-top: 20%;
  display: flex;
  padding-right: 3%;
  margin-bottom: -15%;
  .container__slyder{
    width: 70%;
  }
  .container__caracteristicas{
    width: 35%;
    height: 55vh;
    border-radius: 0% 5% 5% 0%;
    background: white;
    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: -3%;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    margin-right: -5%;
    .titulo{

      .titulo1{
        font-size: 4em;
        font-weight: 800;
        letter-spacing: 1px;
        font-family: var(--ops);
        color: var(--VERDE_OSCURO);

      }

    }

    .especificaciones{
      font-size: 1em;
      font-weight: 800;
      letter-spacing: 1px;
      font-family: var(--ops1);

      .especificacion{
        display: flex;
        gap: 8%;
        .imagen{
          width: 10%;
        }
        .especificaciones{
          .tit{

            color: var(--GRIS_CLARO);
            font-family: var(--ops1);
            font-size: 1em;
            font-weight: 800;

          }
          .sub{

          }
        }

      }
    }
    .boton__whatsapp{
      display: flex;
      font-family: var(--ops);
      background: none;
      border: none;
      margin-top: -20%;
      margin-left: 20%;

      padding: 0;
      width: 80%;

      .container__whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ops);
        border-radius: 12px;
        border: var(--verde) 2px solid;
        background-color: var(--VERDE_OSCURO);
        width: 30%;
        height: 40px;
        color: white;
        margin: auto;

        .img__whatsapp{
          width: 10%;
        }

      }


    }

  }
}
.container__viviendas2{
  width: 100%;
  margin-top: 22%;
  display: flex;
  padding-left: 3%;
  margin-bottom: -15%;
  background-color: var(--VERDE_OSCURO);
  .container__slyder{
    width: 70%;
  }
  .container__caracteristicas{
    width: 35%;
    height: 65vh;
    border-radius: 5% 0% 0% 5%;
    background: white;
    box-shadow: -4px 4px 34px -8px rgba(0,0,0,0.75);
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: -3%;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    margin-left: -5%;
    .titulo{

      .titulo1{
        font-size: 4em;
        font-weight: 800;
        letter-spacing: 1px;
        font-family: var(--ops);
        color: var(--VERDE_OSCURO);

      }

    }

    .especificaciones{
      font-size: 1em;
      font-weight: 800;
      letter-spacing: 1px;
      font-family: var(--ops1);

      .especificacion{
        display: flex;
        gap: 8%;
        .imagen{
          width: 10%;
        }
        .especificaciones{
          .tit{

            color: var(--GRIS_CLARO);
            font-family: var(--ops1);
            font-size: 1em;
            font-weight: 800;

          }
          .sub{

          }
        }

      }

    }
    .boton__whatsapp{
      display: flex;
      font-family: var(--ops);
      background: none;
      border: none;
      margin-top: -20%;
      margin-left: 20%;

      padding: 0;
      width: 80%;

      .container__whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ops);
        border-radius: 12px;
        border: var(--verde) 2px solid;
        background-color: var(--VERDE_OSCURO);
        width: 30%;
        height: 40px;
        color: white;
        margin: auto;

        .img__whatsapp{
          width: 10%;
        }

      }


    }

  }
}

#slider {
  text-align: center;
  margin: 0 auto;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  #slider label, a {
  color: #444444;
  cursor: pointer;
  text-decoration: none;
  }
  #slider label:hover, #slider a:hover {
  color: #000 !important;
  }
  #slider label, #slider #active, #slider img { -moz-user-select:none;-webkit-user-select:none; }

  #slider input {
  display: none;
  }
  #slide1:checked ~ #slides .inner { margin-left:0; }
  #slide2:checked ~ #slides .inner { margin-left:-100%;}
  #slide3:checked ~ #slides .inner { margin-left:-200%;}
  #slide4:checked ~ #slides .inner { margin-left:-300%;}
  #slide5:checked ~ #slides .inner { margin-left:-400%;}
  #slide6:checked ~ #slides .inner { margin-left:-500%;}
  #slide7:checked ~ #slides .inner { margin-left:-600%;}
  #slide8:checked ~ #slides .inner { margin-left:-700%;}
  #slide9:checked ~ #slides .inner { margin-left:-800%;}
  #slide10:checked ~ #slides .inner { margin-left:-900%;}
  #overflow {
  width: 100%;
  overflow: hidden;
  }
  #slide11:checked ~ #slides .inner { margin-left:0; }
  #slide21:checked ~ #slides .inner { margin-left:-100%;}
  #slide31:checked ~ #slides .inner { margin-left:-200%;}
  #slide41:checked ~ #slides .inner { margin-left:-300%;}
  #slide51:checked ~ #slides .inner { margin-left:-400%;}
  #slide61:checked ~ #slides .inner { margin-left:-500%;}
  #slide71:checked ~ #slides .inner { margin-left:-600%;}
  #slide81:checked ~ #slides .inner { margin-left:-700%;}
  #slide91:checked ~ #slides .inner { margin-left:-800%;}
  #slide101:checked ~ #slides .inner { margin-left:-900%;}
  #overflow {
  width: 100%;
  overflow: hidden;

  }
  #slide12:checked ~ #slides .inner { margin-left:0; }
  #slide22:checked ~ #slides .inner { margin-left:-100%;}
  #slide32:checked ~ #slides .inner { margin-left:-200%;}
  #slide42:checked ~ #slides .inner { margin-left:-300%;}
  #slide52:checked ~ #slides .inner { margin-left:-400%;}
  #slide62:checked ~ #slides .inner { margin-left:-500%;}
  #slide72:checked ~ #slides .inner { margin-left:-600%;}
  #slide82:checked ~ #slides .inner { margin-left:-700%;}
  #slide92:checked ~ #slides .inner { margin-left:-800%;}
  #slide102:checked ~ #slides .inner { margin-left:-900%;}
  #overflow {
  width: 100%;
  overflow: hidden;
  }
  #slider article img {
  width: 100%;
  max-width:100% !important;
  }
  #slides .inner {
  width: 1000%;
  line-height: 0;
  }
  #slides article {
  width: 10%;
  float: left;

  }
  /* Slider Styling */
  /* Control Setup */
  #controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
  }
  #controls label {
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  }
  #active {
  margin: 23% 0 0;
  text-align: center;
  }
  #active label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  }
  #active label:hover {
  background: #ccc;
  border-color: #777 !important;
  }
  #controls label:hover {
  opacity: 0.8;
  }
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(5),
  #slide5:checked ~ #controls label:nth-child(6),
  #slide6:checked ~ #controls label:nth-child(7),
  #slide7:checked ~ #controls label:nth-child(8),
  #slide8:checked ~ #controls label:nth-child(9),
  #slide9:checked ~ #controls label:nth-child(10),
  #slide10:checked ~ #controls label:nth-child(1) {
  background: url('https://3.bp.blogspot.com/-gbAtkwN8qi0/UHXYpwhcs2I/AAAAAAAAFlU/7jrNY-Ojfrk/s1600/nextrt.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
  }
  #slide1:checked ~ #controls label:nth-child(10),
  #slide2:checked ~ #controls label:nth-child(1),
  #slide3:checked ~ #controls label:nth-child(2),
  #slide4:checked ~ #controls label:nth-child(3),
  #slide5:checked ~ #controls label:nth-child(4),
  #slide6:checked ~ #controls label:nth-child(5),
  #slide7:checked ~ #controls label:nth-child(6),
  #slide8:checked ~ #controls label:nth-child(7),
  #slide9:checked ~ #controls label:nth-child(8),
  #slide10:checked ~ #controls label:nth-child(9) {
  background: url('https://4.bp.blogspot.com/-JVLPDGSMx30/UHXYqZArlfI/AAAAAAAAFlg/WxACTnXfAE0/s1600/prevrt.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
  }
  #slide1:checked ~ #active label:nth-child(1),
  #slide2:checked ~ #active label:nth-child(2),
  #slide3:checked ~ #active label:nth-child(3),
  #slide4:checked ~ #active label:nth-child(4),
  #slide5:checked ~ #active label:nth-child(5),
  #slide6:checked ~ #active label:nth-child(6),
  #slide7:checked ~ #active label:nth-child(7),
  #slide8:checked ~ #active label:nth-child(8),
  #slide9:checked ~ #active label:nth-child(9),
  #slide10:checked ~ #active label:nth-child(10) {
  background: #333;
  border-color: #333 !important;
  }


///////////////////////////////////////////////////@at-root


#slide11:checked ~ #controls label:nth-child(2),
  #slide21:checked ~ #controls label:nth-child(3),
  #slide31:checked ~ #controls label:nth-child(4),
  #slide41:checked ~ #controls label:nth-child(5),
  #slide51:checked ~ #controls label:nth-child(6),
  #slide61:checked ~ #controls label:nth-child(7),
  #slide71:checked ~ #controls label:nth-child(8),
  #slide81:checked ~ #controls label:nth-child(9),
  #slide91:checked ~ #controls label:nth-child(10),
  #slide101:checked ~ #controls label:nth-child(1) {
  background: url('https://3.bp.blogspot.com/-gbAtkwN8qi0/UHXYpwhcs2I/AAAAAAAAFlU/7jrNY-Ojfrk/s1600/nextrt.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
  }
  #slide11:checked ~ #controls label:nth-child(10),
  #slide21:checked ~ #controls label:nth-child(1),
  #slide31:checked ~ #controls label:nth-child(2),
  #slide41:checked ~ #controls label:nth-child(3),
  #slide51:checked ~ #controls label:nth-child(4),
  #slide61:checked ~ #controls label:nth-child(5),
  #slide71:checked ~ #controls label:nth-child(6),
  #slide81:checked ~ #controls label:nth-child(7),
  #slide91:checked ~ #controls label:nth-child(8),
  #slide101:checked ~ #controls label:nth-child(9) {
  background: url('https://4.bp.blogspot.com/-JVLPDGSMx30/UHXYqZArlfI/AAAAAAAAFlg/WxACTnXfAE0/s1600/prevrt.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
  }
  #slide11:checked ~ #active label:nth-child(1),
  #slide21:checked ~ #active label:nth-child(2),
  #slide31:checked ~ #active label:nth-child(3),
  #slide41:checked ~ #active label:nth-child(4),
  #slide51:checked ~ #active label:nth-child(5),
  #slide61:checked ~ #active label:nth-child(6),
  #slide71:checked ~ #active label:nth-child(7),
  #slide81:checked ~ #active label:nth-child(8),
  #slide91:checked ~ #active label:nth-child(9),
  #slide101:checked ~ #active label:nth-child(10) {
  background: #333;
  border-color: #333 !important;
  }
  ///////
  #slide12:checked ~ #controls label:nth-child(2),
  #slide22:checked ~ #controls label:nth-child(3),
  #slide32:checked ~ #controls label:nth-child(4),
  #slide42:checked ~ #controls label:nth-child(5),
  #slide52:checked ~ #controls label:nth-child(6),
  #slide62:checked ~ #controls label:nth-child(7),
  #slide72:checked ~ #controls label:nth-child(8),
  #slide82:checked ~ #controls label:nth-child(9),
  #slide92:checked ~ #controls label:nth-child(10),
  #slide102:checked ~ #controls label:nth-child(1) {
  background: url('https://3.bp.blogspot.com/-gbAtkwN8qi0/UHXYpwhcs2I/AAAAAAAAFlU/7jrNY-Ojfrk/s1600/nextrt.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
  }
  #slide12:checked ~ #controls label:nth-child(10),
  #slide22:checked ~ #controls label:nth-child(1),
  #slide32:checked ~ #controls label:nth-child(2),
  #slide42:checked ~ #controls label:nth-child(3),
  #slide52:checked ~ #controls label:nth-child(4),
  #slide62:checked ~ #controls label:nth-child(5),
  #slide72:checked ~ #controls label:nth-child(6),
  #slide82:checked ~ #controls label:nth-child(7),
  #slide92:checked ~ #controls label:nth-child(8),
  #slide102:checked ~ #controls label:nth-child(9) {
  background: url('https://4.bp.blogspot.com/-JVLPDGSMx30/UHXYqZArlfI/AAAAAAAAFlg/WxACTnXfAE0/s1600/prevrt.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
  }
  #slide12:checked ~ #active label:nth-child(1),
  #slide22:checked ~ #active label:nth-child(2),
  #slide32:checked ~ #active label:nth-child(3),
  #slide42:checked ~ #active label:nth-child(4),
  #slide52:checked ~ #active label:nth-child(5),
  #slide62:checked ~ #active label:nth-child(6),
  #slide72:checked ~ #active label:nth-child(7),
  #slide82:checked ~ #active label:nth-child(8),
  #slide92:checked ~ #active label:nth-child(9),
  #slide102:checked ~ #active label:nth-child(10) {
  background: #333;
  border-color: #333 !important;
  }
 /////////////

  /* Info Box */
  #slider .info {
  line-height: 20px;
  margin: 0 0 -150%;
  position: absolute;
  font-style: italic;
  padding: 30px 30px;
  opacity: 0;
  color: #000;
  text-align: left;
  }
  #slider .info h3 {
  color: #333;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  }
  /* Slider Styling */
  #slides {
  margin: 45px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1%;
  background: #fff;
  background: rgb(252,255,244); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
  }
  /* Animation */
  #slides .inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
  }
  #slider {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  }
  #controls label{
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  }
  #slider #controls {
  margin: -25% 0 0 15%;
  width: 70%;
  height: 50px;
  }
  #slider #controls label {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  }
  #slide1:checked ~ #slides article:nth-child(1) .info,
  #slide2:checked ~ #slides article:nth-child(2) .info,
  #slide3:checked ~ #slides article:nth-child(3) .info,
  #slide4:checked ~ #slides article:nth-child(4) .info,
  #slide5:checked ~ #slides article:nth-child(5) .info ,
  #slide6:checked ~ #slides article:nth-child(6) .info,
  #slide7:checked ~ #slides article:nth-child(7) .info,
  #slide8:checked ~ #slides article:nth-child(8) .info,
  #slide9:checked ~ #slides article:nth-child(9) .info,
  #slide10:checked ~ #slides article:nth-child(10) .info{
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
  }
  #slide11:checked ~ #slides article:nth-child(1) .info,
  #slide21:checked ~ #slides article:nth-child(2) .info,
  #slide31:checked ~ #slides article:nth-child(3) .info,
  #slide41:checked ~ #slides article:nth-child(4) .info,
  #slide51:checked ~ #slides article:nth-child(5) .info ,
  #slide61:checked ~ #slides article:nth-child(6) .info,
  #slide71:checked ~ #slides article:nth-child(7) .info,
  #slide81:checked ~ #slides article:nth-child(8) .info,
  #slide91:checked ~ #slides article:nth-child(9) .info,
  #slide101:checked ~ #slides article:nth-child(10) .info{
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
  }
  #slide12:checked ~ #slides article:nth-child(1) .info,
  #slide22:checked ~ #slides article:nth-child(2) .info,
  #slide32:checked ~ #slides article:nth-child(3) .info,
  #slide42:checked ~ #slides article:nth-child(4) .info,
  #slide52:checked ~ #slides article:nth-child(5) .info ,
  #slide62:checked ~ #slides article:nth-child(6) .info,
  #slide72:checked ~ #slides article:nth-child(7) .info,
  #slide82:checked ~ #slides article:nth-child(8) .info,
  #slide92:checked ~ #slides article:nth-child(9) .info,
  #slide102:checked ~ #slides article:nth-child(10) .info{
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
  }
  #slider .info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  }
  /* Responsive Styling */
  @media only screen and (max-width: 850px) and (min-width: 450px) {
  #slider #slides {
  padding: 1% 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  }
  #slider #active {
  margin: 22% 0 0;
  }
  }
  @media only screen and (max-width: 450px) {
  #slider #controls {
  margin: -28% 0 0 24%;
  width: 50%;
  height: 50px;
  }
  #slider #active {
  margin: 23% 0 0;
  }
  #slider #slides {
  padding: 1% 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  }
  #slider #slides .info {
  opacity: 0 !important;
  }
  #slider #controls label {
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  }
  }


@media screen and (max-width: 991px){
  .contendor__inicio {
    background: url('../../../assets/images/FONDO_HEADER_CELULAR/iconografia-hacienda-valbuena-celular.webp');



    .contendor__inicio__titulo {
      color: var(--DORADO_OSCURO);
      margin-top: -15%;


      .titulo {
        border-right: var(--DORADO_OSCURO) 1px solid;

      }

      .titulo1 {

        height: 60px;
        border-right: var(--ops) 1px solid;
        font-size: 0.5em;
        margin-top: -10%;

      }

    }

    .contendor__inicio__subtitulo {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      color: var(--DORADO_CLARO);
      font-family: var(--ops);
      font-size: 1em;
      display: flex;
      margin-top: -20%;




    }
    .container__textos{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      margin-top: 22%;
      margin-left: 20%;
      font-family: var(--ops);
      font-size: 1.2em;
      font-weight: 200;
      color: white;
      width: 80%;
      padding-bottom: 3%;
      .container__textos_parrafo{
        margin-top: 50%;
      }
      .boton__whatsapp{
        display: flex;
        font-family: var(--ops);
        background: none;
        border: none;
        margin-top: 50%;

        padding: 0;
        width: 50%;

        .container__whatsapp{
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: var(--ops);
          border-radius: 12px;
          border: var(--DORADO_CLARO) 2px solid;
          width: 50%;
          height: 40px;
          color: white;
          .img__whatsapp{
            width: 8%;
          }

        }


      }
    }

  }
  .decoracion{
    display: none;
  }
  .contaier__tarjetas{
    background: url('../../../assets/images/FONDO_HEADER_CELULAR/fondo-maps-celular.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    position: relative;
    z-index: 1;
    .container__tarjetas__titulo{
      margin-top: 10%;
      font-size: 1em;

    }
    .boton__whatsapp{
      display: flex;
      font-family: var(--ops);
      background: none;
      border: none;
      margin-top: 0%;

      padding: 0;
      width: 60%;

      .container__whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ops);
        border-radius: 12px;
        border: var(--verde) 2px solid;
        background-color: var(--VERDE_OSCURO);
        width: 30%;
        height: 50px;
        color: white;
        margin: auto;
        margin-top: 2%;
        .img__whatsapp{
          width: 8%;
        }

      }


    }


  }
}
