<section class="inicio">
  <div class="contendor__inicio">
    <div class="contendor__inicio__titulo">
      <H1><span class='titulo'>HV</span><span class='titulo1'>HACIENDA VALBUENA</span></H1>

    </div>
    <div class="contendor__inicio__subtitulo">
      <H2 class="sub">$i SE PUEDE VIVIR CON LUJO</H2>

    </div>

    <div class='container__textos'>
      <p class="container__textos_parrafo">Agenda una cita para conocer tu nueva casa</p>
      <a href="#" class='boton__whatsapp'>
        <div class='container__whatsapp'>
          <img src="assets/images/ICONOGRAFIA/whatsapp-hacienda-valbuena.svg" class='img__whatsapp' alt=""/>
          <p class='texto__whatsapp'>Enviar WhatsApp</p>
        </div>
      </a>
    </div>
  </div>
  <div class='decoracion'>
    <div class='decoracion__verde'></div>
    <div class='decoracion__dorado'></div>
  </div>
</section>
<section class="subtitulo">
  <div class="contaier__tarjetas">
    <div class="container__tarjetas__titulo">
      <h2> Fraccionamiento <span class='span__verde'>TIPO HACIENDA</span> ubicada en la Florida S.L.P</h2>
    </div>
    <b href="#" class='boton__whatsapp'>
      <div class='container__whatsapp'>
        <img src="assets/images/ICONOGRAFIA/whatsapp-hacienda-valbuena.svg" class='img__whatsapp' alt=""/>
        <p class='texto__whatsapp'>Enviar WhatsApp</p>
      </div>
    </b>
  </div>

</section>
<section class="tipos__casas">
  <div class="container__viviendas">
    <div class="container__slyder">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/images/GRANADA/cocina-hacienda-valbuena-granada.webp" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/images/GRANADA/comedor-hacienda-valbuena-granada.webp" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/images/GRANADA/cuarto-dos-hacienda-valbuena-granada.webp" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


    </div>
    <div class="container__caracteristicas">
      <div class="titulo">
        <h3>Granada</h3>
      </div>
      <div class="especificaciones">
        <div class="terreno">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>m de terreno:</p>
            <p>140 m</p>
          </div>
        </div>
        <div class="construccion">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>m de construccion:</p>
            <p>117 m</p>
          </div>
        </div>
        <div class="dormitorios">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>Dormitorios:</p>
            <p>3</p>
          </div>
        </div>
        <div class="baños">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>Baños:</p>
            <p>3</p>
          </div>
        </div>
        <div class="balcon">
          <div class="imagen">
            <img src="" alt="">
          </div>
          <div class="especificaciones">
            <p>Balcón:</p>
            <p>1</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/GRANADA/cocina-hacienda-valbuena-granada.webp" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/GRANADA/comedor-hacienda-valbuena-granada.webp" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/GRANADA/cuarto-dos-hacienda-valbuena-granada.webp" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
