<section class="tarjeta">
  <div class="contenedor__tarjeta">
    <div class="tarjeta__marco__descripcion">
      <div class="tarjeta__marco__contenedor">
        <ul>Bilbao
          <li class="tarjeta__item"><i class="tarjeta__icono"><img src="#" alt="#">m2 De terreno</i>140m2</li>
          <li class="tarjeta__item"><i class="tarjeta__icono"><img src="#" alt="#">m2 De Construcción</i>117 m2</li>
          <li class="tarjeta__item"><i class="tarjeta__icono"><img src="#" alt="#">Domitorios</i>3</li>
          <li class="tarjeta__item"><i class="tarjeta__icono"><img src="#" alt="#">Baños</i>3</li>
          <li class="tarjeta__item"><i class="tarjeta__icono"><img src="#" alt="#">Balcon</i>1</li>
        </ul>
        <div class="btn btn-success">
          <i></i>
          <button type="click" class="btn__enviar__mensaje">Enviar Whatsapp</button>
        </div>
      </div>
    </div>
      <img class="tarjeta__imagen__portada" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt="cocina-hacienda-valbuena-bilbao">
    <div class="tarjeta__carrusel">
      <ul class="tarjeta__carrusel__contenedor">
        <li class="tarjeta__carrusel__item"><img class="tarjeta__carrusel__imagen" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt=""></li>
        <li class="tarjeta__carrusel__item"><img class="tarjeta__carrusel__imagen" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt=""></li>
        <li class="tarjeta__carrusel__item"><img class="tarjeta__carrusel__imagen" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt=""></li>
        <li class="tarjeta__carrusel__item"><img class="tarjeta__carrusel__imagen" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt=""></li>
        <li class="tarjeta__carrusel__item"><img class="tarjeta__carrusel__imagen" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt=""></li>
        <li class="tarjeta__carrusel__item"><img class="tarjeta__carrusel__imagen" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt=""></li>
        <li class="tarjeta__carrusel__item"><img class="tarjeta__carrusel__imagen" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt=""></li>
        <li class="tarjeta__carrusel__item"><img class="tarjeta__carrusel__imagen" src="assets/images/BILBAO/cocina-hacienda-valbuena-bilbao.webp" alt=""></li>
      </ul>
    </div>

  </div>
</section>



